NOTION_TOKEN=
NOTION_DATA_SOURCE_ID=bb9ee8c4-8df2-83b1-afb2-0711fff4b762
AUTH_USERNAME=admin
AUTH_PASSWORD=rpavault
SHIVANI_USERNAME=shivani
SHIVANI_PASSWORD=rpavault123
SESSION_SECRET=complex_password_at_least_32_characters_long_secret_key!
